<nav> 
    <a routerLink="/signup">signup 1 </a> | 
    <a routerLink="/login">login</a> | 
    <a routerLink="/page1">page1</a>
</nav>
<p>dashboard works!</p>


<input  type="text" [(ngModel)]="postService.myname">

<br>

{{postService.myname}}

<br>
<pre>
{{postService.posts | json}}
</pre>


<table>
    <tr>
        <td>ID</td>
        <td>title</td>
        <td>Actions</td>
    </tr>
    <tr>
        <td>{{postService.posts[0].id}}</td>
        <td>{{postService.posts[0].title}}</td>
        <td><a routerLink="/post/edit/{{postService.posts[0].id}}">EDIT</a></td>
    </tr>
    <tr>
        <td>{{postService.posts[1].id}}</td>
        <td>{{postService.posts[1].title}}</td>
        <td><a routerLink="/post/edit/{{postService.posts[1].id}}">EDIT</a></td>
    </tr>
<table>

<app-footer></app-footer>
